{'bootstrap': True, 'ccp_alpha': 0.1, 'criterion': 'squared_error', 'max_depth': 6, 'max_features': None, 'max_leaf_nodes': 11, 'max_samples': 0.4, 'min_impurity_decrease': 0.0, 'min_samples_leaf': 4, 'min_samples_split': 5, 'min_weight_fraction_leaf': 0.0, 'n_estimators': 78, 'n_jobs': None, 'oob_score': True, 'random_state': 100, 'verbose': 0, 'warm_start': False}