{'bootstrap': True, 'ccp_alpha': 0.4444444444444444, 'criterion': 'squared_error', 'max_depth': 17, 'max_features': None, 'max_leaf_nodes': 20, 'max_samples': 0.6, 'min_impurity_decrease': 0.0, 'min_samples_leaf': 1, 'min_samples_split': 20, 'min_weight_fraction_leaf': 0.0, 'n_estimators': 66, 'n_jobs': None, 'oob_score': True, 'random_state': 100, 'verbose': 0, 'warm_start': False}