{'bootstrap': True, 'ccp_alpha': 0.1, 'criterion': 'squared_error', 'max_depth': 16, 'max_features': 2, 'max_leaf_nodes': 20, 'max_samples': 0.7000000000000002, 'min_impurity_decrease': 0.0, 'min_samples_leaf': 1, 'min_samples_split': 17, 'min_weight_fraction_leaf': 0.0, 'n_estimators': 135, 'n_jobs': None, 'oob_score': True, 'random_state': 100, 'verbose': 0, 'warm_start': False}